.form2header {
  background-color: var(--tertiary);
  padding: 1rem 16rem;
}
.form2header > img {
  width: 10vw;
}
.form2main {
  /* height: calc(100vh - 88px); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0rem;
}
.form1title {
  font-family: Shippori Mincho;
  font-size: 27px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.formcontainer1 {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 30%;
}
.servicesf2 > .service1 > img {
  max-width: 8%;
}
.service1 {
  border: 1px solid #c5c5c4;
  border-radius: 0.8rem;
  padding: 0.7rem 0.8rem;
  cursor: pointer;
}
.forminoutset {
  outline: none !important;
  border: 1px solid #c5c5c4;
  border-radius: 0.8rem;
  width: 100%;
}
.calandericon {
  position: absolute;
  left: 90%;
  top: 25%;
}
.f1zip {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 14rem;
  border: 1px solid #c5c5c4;
  border-radius: 0.5rem;
  outline: none;
}
.f2zip {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* padding-right: 14rem; */
  border: 1px solid #c5c5c4;
  border-radius: 0.5rem;
  outline: none;
  width: 48%;
}
.nextbutton {
  background-color: #9e5b34;
  border: none;
  border-radius: 0.5rem;
  opacity: 0.9;
  width: 30%;
}
.vacation {
  font-family: Shippori Mincho;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.nextbutton:hover {
  background-color: #9e5b34;
  border: none;
  border-radius: 0.5rem;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.nextbutton > div {
  font-family: Shippori Mincho;
  font-size: 20px;
  font-weight: 800;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--white);
}

.nextbutton > img {
  max-width: 6%;
}
.expect {
  font-family: Shippori Mincho;
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.child {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem 1rem;
  gap: 0.3rem;
  border-radius: 2rem;
  border: 1px solid #c5c5c4;
}
.addanother {
  font-family: Shippori Mincho;
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary);
}
.radioset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}
.rounded1 {
  border: 1px solid #c5c5c4;
  border-radius: 2rem;
  width: 45%;
}
.pl {
  padding-left: 0;
}
input[type="radio"] {
  background-color: #eaebeb;
}
input[type="radio"]:checked {
  background-color: var(--primary);
}
@media (max-width: 768px) {
  .form2header {
    padding: 1rem;
  }
  .f1zip {
    padding-right: 8rem;
  }
  .formcontainer1 {
    width: 80%;
  }
  .form1title {
    font-size: 22px;
  }
  .calandericon {
    display: none;
  }
  .form1width {
    width: 80% !important;
  }
  .formcontainer1 {
    margin: auto;
  }
  .optionmobile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .f2zip {
    padding-right: 1rem;
  }
  .nextbutton {
    width: 80%;
  }
}
